log:
  filepath: "logs/application.log"
  rotation: "1 days"
  retention: "10 days"
dump:
  user: user
  passwd: ******************
  host: localhost
  port: 3306
  schema: testdb
  tables:
    - test_table
  options:
load:
  user: user
  passwd: ******************
  host: localhost
  port: 3306
  schema: testdb2
  options:
    - ignoreExistingObjects true
    - ignoreVersion true
